<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715873698187-ftlj5i9bn0rtmpudovn8ekabhik9954v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715873698187-ftlj5i9bn0rtmpudovn8ekabhik9954v</string>
	<key>API_KEY</key>
	<string>AIzaSyD95PMP5w6PmjjW2VPKVTcPrkQEl8TbTTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>715873698187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zafa-invitation.myPetshop</string>
	<key>PROJECT_ID</key>
	<string>my-petshop-8a860</string>
	<key>STORAGE_BUCKET</key>
	<string>my-petshop-8a860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715873698187:ios:5c825664b53a33b2946f8e</string>
</dict>
</plist>